.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

body{
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjmcriiuqHvCVdhfAR0jdih0EPKyKuTtB9AQ&usqp=CAU);
	background-size: cover;
	margin: 0px;
}

img{
	margin: 10px;
	transition: all 1s;
}

img:hover{
	transform: scale(1.1);
}

li{
	list-style: none;
	display: inline-block;
}

footer{
	text-align:center;
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid pink;
	border-right: 2px solid pink;
	width: 400px;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 10px;
}

